services:
  # Traefik 3 - Reverse Proxy
  traefik-internal:
    container_name: traefik-internal
    image: traefik:v3.6.5@sha256:67622638cd88dbfcfba40159bc652ecf0aea0e032f8a3c7e3134ae7c037b9910
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    profiles: ["core", "all"]
    networks:
      trf_int:
        ipv4_address: 10.2.130.254 # You can specify a static IP
      socket_proxy:  
    command: # CLI arguments
      - --global.checkNewVersion=true
      - --global.sendAnonymousUsage=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      # Enable HTTP/3 on the websecure entrypoint
      - --entrypoints.websecure.http3=true
      - --entrypoints.ssh.address=:2424
      - --entrypoints.traefik.address=:8080
      # - --entrypoints.ping.address=:8081
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --api=true
      - --api.dashboard=true
      # - --api.insecure=true
      # - --ping=true
      # - --serversTransport.insecureSkipVerify=true
      # Allow these IPs to set the X-Forwarded-* headers - Cloudflare IPs: https://www.cloudflare.com/ips/
      - --entrypoints.websecure.forwardedHeaders.trustedIPs=$CLOUDFLARE_IPS,$LOCAL_IPS
      - --log=true
      - --log.filePath=/logs/traefik.log
      - --log.level=INFO # (Default: error) DEBUG, INFO, WARN, ERROR, FATAL, PANIC
      - --accessLog=true
      - --accessLog.filePath=/logs/access.log
      - --accessLog.bufferingSize=100 # Configuring a buffer of 100 lines
      - --accessLog.filters.statusCodes=204-299,400-499,500-599
      - --providers.docker=true
      # - --providers.docker.endpoint=unix:///var/run/docker.sock # Disable for Socket Proxy. Enable otherwise.
      - --providers.docker.endpoint=tcp://socket-proxy:2375 # Enable for Socket Proxy. Disable otherwise.
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=trf_int
      # - --providers.docker.swarmMode=false # Traefik v2 Swarm
      # - --providers.swarm.endpoint=tcp://127.0.0.1:2377 # Traefik v3 Swarm
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.options=tls-opts@file
      # Add dns-cloudflare as default certresolver for all services. Also enables TLS and no need to specify on individual services
      - --entrypoints.websecure.http.tls.certresolver=zerossl
      - --entrypoints.websecure.http.tls.domains[0].main=$DOMAINNAME_HL
      - --entrypoints.websecure.http.tls.domains[0].sans=*.$DOMAINNAME_HL
      - --entrypoints.websecure.http.tls.domains[1].main=$DOMAINNAME_MR
      - --entrypoints.websecure.http.tls.domains[1].sans=*.$DOMAINNAME_MR
      # - --entrypoints.websecure.http.tls.domains[2].main=$DOMAINNAME_2 # Pulls main cert for third domain
      # - --entrypoints.websecure.http.tls.domains[2].sans=*.$DOMAINNAME_2 # Pulls wildcard cert for third domain
      - --providers.file.directory=/rules # Load dynamic configuration from one or more .toml or .yml files in a directory
      - --providers.file.watch=true # Only works on top level files in the rules folder
      - --providers.docker.constraints=Label(`traefik.group`, `internal`)      
      # - --metrics.prometheus=true
      # - --metrics.prometheus.buckets=0.1,0.3,1.2,5.0
      # - --metrics.prometheus.addEntryPointsLabels=true
      # - --metrics.prometheus.addrouterslabels=true
      # - --metrics.prometheus.addServicesLabels=true
      # - --metrics.influxdb2=true
      # - --metrics.influxdb2.address=http://192.168.1.111:8086
      # - --metrics.influxdb2.token=$INFLUXDB_TOKEN
      # - --metrics.influxdb2.org=zHome
      # - --metrics.influxdb2.bucket=traefik-hs
      # - --metrics.influxdb2.addEntryPointsLabels=true
      # - --metrics.influxdb2.addrouterslabels=true
      # - --metrics.influxdb2.addServicesLabels=true
      # - --metrics.influxdb2.pushInterval=30s
      # - --metrics.influxdb2.additionallabels.host=$DOMAINNAME_HS
      - --certificatesresolvers.zerossl.acme.caserver=https://acme.zerossl.com/v2/DV90
      - --certificatesresolvers.zerossl.acme.email=$ZEROSSL_EMAIL
      - --certificatesresolvers.zerossl.acme.storage=/acme.json
      - --certificatesresolvers.zerossl.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.zerossl.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesresolvers.zerossl.acme.dnschallenge.delayBeforeCheck=90 # To delay DNS check and reduce LE hitrate
      - --certificatesresolvers.zerossl.acme.eab.kid=$ZEROSSL_KID
      - --certificatesresolvers.zerossl.acme.eab.hmacencoded=$ZEROSSL_HMAC

    #healthcheck:
    #  test: ["CMD", "traefik", "healthcheck", "--ping"]
    #  interval: 5s
    #  retries: 3
    # ports:
    #   - target: 80
    #     published: 80
    #     protocol: tcp
    #   - target: 443
    #     published: 443
    #     protocol: tcp
    #   - target: 443
    #     published: 443
    #     protocol: udp

      # - target: 8080 # need to enable --api.insecure=true
      #   published: 8080
      #   protocol: tcp
      #   mode: host
    volumes:
      - $DOCKERDIR/appdata/traefik3/rules/$HOSTNAME/internal-rules:/rules # Dynamic File Provider directory
      # - /var/run/docker.sock:/var/run/docker.sock:ro # Enable if not using Socket Proxy
      - $DOCKERDIR/appdata/traefik3/zerossl/acme.json:/acme.json # Certs File 
      - $DOCKERDIR/logs/$HOSTNAME/traefik-int:/logs # Traefik logs
    environment:
      - TZ=$TZ
      - CF_DNS_API_TOKEN_FILE=/run/secrets/cf_dns_api_token   
      # - CF_DNS_API_TOKEN=$CF_DNS_API_TOKEN
      #- HTPASSWD_FILE=/run/secrets/basic_auth_credentials # HTTP Basic Auth Credentials
      - DOMAINNAME_HL # Passing the domain name to traefik container to be able to use the variable in rules. 
      - DOMAINNAME_MR # Additional Domain variable passthrough to container
    secrets:
      - cf_dns_api_token
      #- basic_auth_credentials
    labels:
      #- "autoheal=true"
      - "traefik.enable=true"
      - "traefik.docker.network=trf_int"
      - "traefik.group=internal"      
      # HTTP Routers
      - "traefik.http.routers.traefik-int-rtr.entrypoints=websecure"
      - "traefik.http.routers.traefik-int-rtr.rule=Host(`internal.$DOMAINNAME_HL`) || Host(`internal.$DOMAINNAME_MR`)"
      # Services - API
      - "traefik.http.routers.traefik-int-rtr.service=api@internal"
      # Healthcheck/ping
      #- "traefik.http.routers.ping.rule=Host(`traefik.$DOMAINNAME_HS`) && Path(`/ping`)"
      #- "traefik.http.routers.ping.tls=true"
      #- "traefik.http.routers.ping.service=ping@internal"
      # Middlewares
      # - "traefik.http.routers.traefik-rtr.middlewares=chain-no-auth@file" # For No Authentication
      #- "traefik.http.routers.traefik-rtr.middlewares=chain-basic-auth@file" # For Basic HTTP Authentication
      #- "traefik.http.routers.traefik-rtr.middlewares=chain-oauth@file" # For Google OAuth
      #- "traefik.http.routers.traefik-rtr.middlewares=chain-authelia@file" # For Authelia Authentication